# Sécurité Flask
SECRET_KEY=remplacer_par_une_cle_aleatoire
JWT_SECRET_KEY=remplacer_par_une_autre_cle_aleatoire

# Base de données
# Local: sqlite:///volleyplan.db
# Prod: postgresql://user:password@host:port/dbname
DATABASE_URL=sqlite:///volleyplan.db

# Configuration Email (Brevo)
BREVO_API_KEY=votre_cle_api_brevo_v3
SENDER_EMAIL=votre_email_verifie@domaine.com
SENDER_NAME=VolleyPlan

# URLs
FRONTEND_URL=http://localhost:60867

# Moyen de paiement CINETPAY
CINETPAY_SITE_ID=ton_site_id
CINETPAY_SECRET_KEY=ta_cle_secrete